/*Boutons*/
#submitOK{
    display: block;
    position: relative;
    width: 10em;
}
#inscription{
    display: block;
    position: relative;
    width: 10em;
}
#mdpoublie{
    display: block;
    position: relative;
    width: 11em;
}

#accueilinscription{
    display: block;
    position: relative;
    width: 20em;
}
/*Zone de textes*/

#adressemail{
    position: relative;
    float: left;
    width: 8em;
}
#mdp{
    float: left;
    width: 225%;
}
#emailoublie{
    float: left;
    width: 30%;
}
.xxx {
    width: 80%;
}
#codeaccueil {
    width: 200em;
}
#inscriptioncode {
    position: relative;
    margin-right: 1em;
}  

#divEtat {
    position:relative;
    top:0px;
    height:30px;
    width:1000px;
    background-color: #feedd8;
}

#divEtatImp {
    position:absolute;
    top:0px;
    height:30px;
    width:950px;
    background-color: green;
}

#btnchangeconfirm {
    position:absolute;
    width:200px;
    right: 35vw;
}

/*BOUTON DECONNECTION*/


#btnDeconnection{
    position: absolute;
    right: 2vw;
    top: -3px;
    width: 2em;
}

#btnDeconnection img {
    display: flex;
}

#btnDeconnection:hover #white {
    display: none;
}

#btnDeconnection #black {
    display: none;
}

#btnDeconnection:hover #black {
    display: block;
}


/* le logo ne prend que 30% de la largeur de l'écran */
#image {
    border-radius: 8px;
    border-style:  solid;
    border-width:  0.25px;
    width:  30%;
    height: auto;
}

@media (max-width: 760px) {
    #image {
        width: 80%;
    }
}

#surveillance {
    border-radius: 8px;
    border-style:  solid;
    border-width:  0.25px;
    height: auto;
    width:  30%;
}

@media (max-width: 760px) {
    #surveillance {
        width:  100%;
    }
}